@model  ErrorViewModel

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["ErrorTitle"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Localizer["Error"]</h1>
@if (Model.ErrorText != null)
{
    <p>@Model.ErrorText</p>
}

