@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["ErrorTitle"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Localizer["Error"]</h1>
@if (ViewData["Error"] != null)
{
    <p>@ViewData["Error"]</p>
}

